/* Sidebar Scroll */
.sidebar-scroll {
  height: calc(100vh - 70px); /* adjust depending on navbar height */
  overflow-y: auto;
  position: sticky;
  top: 70px;
}

/* Post Scroll */
.post-scroll {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.footer-visible {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.4s ease;
  transform: translateY(0);
  z-index: 99;
}

.footer-hidden {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.4s ease;
  transform: translateY(100%); /* Moves footer down */
  z-index: 99;
}